{% extends "base.html" %}

{% block title %}Recuperar Senha{% endblock %}

{% block content %}

<div class="container-auth">

    <div class="card-auth card-reset">

        <div class="reset-form">

            <div class="logo">
                <i class="fa-solid fa-key"></i>
            </div>

            <h1>
                Recuperar Senha<span>.</span>
            </h1>

            <p class="subtitulo">
                Se o e-mail digitado corresponder ao e-mail cadastrado,
                enviaremos um link para redefinir sua senha.
            </p>

            <form method="POST">

                {% csrf_token %}

                <div class="campo-cadastro">

                    <i class="fa-solid fa-envelope"></i>

                    <input
                        type="email"
                        name="email"
                        placeholder="Digite seu e-mail"
                        required>

                </div>

                <button
                    type="submit"
                    class="btn-criar-conta">

                    <span>
                        Enviar link
                    </span>

                    <i class="fa-solid fa-arrow-right"></i>

                </button>

            </form>

            <a
                href="{% url 'login' %}"
                class="link-login">

                Já possui uma conta?

                <strong>
                    Entrar
                </strong>

            </a>

        </div>

    </div>

</div>

{% endblock %}