*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
}

.container-login{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.card-login{
    width:900px;
    height:500px;
    background:white;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,.15);
}

.lado-login{
    padding:40px;
}